spring.profiles.active=default

spring.application.name=Quadras_SMC

spring.datasource.url=jdbc:mariadb://localhost:3306/quadras_smc
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver

spring.jpa.hibernate.ddl-auto=update

spring.web.resources.add-mappings=false

springdoc.swagger-ui.path=/swagger-ui.html

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

api.security.token.secret.auth=${JWT_AUTH_SECRET}
api.security.token.secret.pwd=${JWT_PWD_SECRET}
api.security.token.secret.vrfact=${JWT_VRFACT_SECRET}
api.security.token.secret.email=${EMAIL_SECRET}

api.security.token.expiration.auth=2

minio.url=http://minio:9000
minio.acceskey=
minio.secretkey=
